autonomy/backend/backend
autonomy/backend/debug_nav.txt
autonomy/backend/log.txt
autonomy/frontend/frontend
autonomy/frontend/log.txt
autonomy/realsense/beacon_command/beacon
autonomy/backend/timing.log
.vscode/settings.json
autonomy/.vscode/settings.json
autonomy/andretti/andretti
autonomy/aruco/aruco-3.0.11/aruco-uninstalled.pc
autonomy/aruco/aruco-3.0.11/aruco.pc
autonomy/aruco/aruco-3.0.11/arucoConfig.cmake
autonomy/aruco/aruco-3.0.11/cmake_install.cmake
autonomy/aruco/aruco-3.0.11/cmake_uninstall.cmake
autonomy/aruco/aruco-3.0.11/CMakeCache.txt
autonomy/aruco/aruco-3.0.11/install_manifest.txt
autonomy/include/librealsense2/
autonomy/include/librealsense2-gl/
autonomy/aruco/aruco-3.0.11/CMakeFiles/cmake.check_cache

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing

cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
autonomy/aruco/aruco-3.0.11/src/libaruco.so.3.0
autonomy/aruco/aruco-3.0.11/src/libaruco.so.3.0.11
autonomy/aruco/aruco-3.0.11/utils/

autonomy/aruco/aruco-3.0.11/utils_calibration/

autonomy/bac-kend/backend
autonomy/cartographer/cartographer
autonomy/cvs/cvs
autonomy/localizer/localizer
autonomy/lunabug/lunatic_print_2Dpos
autonomy/lunabug/lunatic_print_drive
autonomy/lunabug/lunatic_print_encoders
autonomy/lunabug/lunatic_print_stepper
autonomy/lunabug/lunatic_print_target
autonomy/lunabug/lunatic_set_target
autonomy/lunabug/lunaview
autonomy/pathplanner/debug_nav.txt
autonomy/pathplanner/pathplanner
autonomy/stepper/stepper
autonomy/unitTests/data_exchange/millitime
autonomy/vision/vision
autonomy/unitTests/lat_check/.vscode/settings.json
autonomy/aruco/aruco-3.0.11/src/Makefile
autonomy/aruco/aruco-3.0.11/Makefile